<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Anmeldung
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>

    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input formControlName="email" type="email" placeholder="Deine Email Adresse"
                 [class.invalid]="!loginForm.controls.email.valid && loginForm.controls.email.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message"
              *ngIf="!loginForm.controls.email.valid  && loginForm.controls.email.dirty">
      <p>Gib eine valide Email Addresse ein</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Kennwort</ion-label>
      <ion-input formControlName="password" type="password" placeholder="Dein Kennwort"
                 [class.invalid]="!loginForm.controls.password.valid && loginForm.controls.password.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message"
              *ngIf="!loginForm.controls.password.valid  && loginForm.controls.password.dirty">
      <p>Das Kennwort muss mindestens 6 Zeichen haben</p>
    </ion-item>

    <button ion-button block type="submit" [disabled]="!loginForm.valid">
      Anmelden
    </button>

  </form>

  <button ion-button block clear (click)="goToSignup()">
    Registrieren
  </button>

  <button ion-button block clear (click)="goToResetPassword()">
    Das Kennwort vergessen
  </button>

</ion-content>
