
<ion-header>

  <ion-navbar>
    <ion-title>Anmelden</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div *ngIf="showLogin">
    <ion-item>
      <ion-input type="email" placeholder="Email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="password" placeholder="Kennwort" [(ngModel)]="password"></ion-input>
    </ion-item>
  </div>

  <div *ngIf="!showLogin">

    <ion-item>
      <ion-input type="text" placeholder="Name" [(ngModel)]="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" placeholder="Schule" [(ngModel)]="school"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" placeholder="Klasse" [(ngModel)]="classNo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="email" placeholder="Email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="password" placeholder="Kennwort" [(ngModel)]="password"></ion-input>
    </ion-item>
  </div>

  <button ion-button color="primary" full (click)="doLogin()">Login</button>
  <button ion-button color="primary" full (click)="doRegister()">Register</button>

</ion-content>
