<ion-header>
  <ion-navbar>
    <ion-title>
      School-Advisor
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-slides pager initialSlide="0" autoplay="5000" loop="false" effect="cube" speed="1000">
    <ion-slide *ngFor="let slide of slides">
      <h2 class="slide-title" [innerHTML]="slide.title"></h2>
      <img [src]="slide.image" class="slide-image">
      <p [innerHTML]="slide.description"></p>
      <button ion-button (click)="goToRatesPage()" color="primary">Überspringen</button>
    </ion-slide>
    <ion-slide>
      <ion-toolbar>
      </ion-toolbar>
      <img src="assets/img/schooladvisor-slidebox-img-2-small.png" class="slide-image"/>
      <h2 class="slide-title">Bereit zu bewerten?</h2>
      <button ion-button large clear icon-end color="primary" (click)="goToRatesPage()">
        Weiter
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>
  </ion-slides>


</ion-content>

<ion-menu [content]="mycontent" type="overlay">
  <ion-content>
    <ion-list>
      <button ion-item (click)="goToRatesPage()">
        <ion-icon name="star-half"></ion-icon>
        Bewerten
      </button>
      <button ion-item (click)="goToSubstitutionPage()">
        <ion-icon name="contacts"></ion-icon>
        Vertretungsplan
      </button>
      <button ion-item (click)="goToProfile()">
        <ion-icon name="list-box"></ion-icon>
        Mein Profil
      </button>
      <button *ngIf="isUserClassAdmin()===true || isUserSchoolAdmin()===true" ion-item (click)="goToAdmin()">
        <ion-icon name="school"></ion-icon>
        Administrieren
      </button>
      <button ion-item (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
        Abmelden
      </button>

    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #mycontent></ion-nav>
