page-main {
  ion-content {
    button {
      margin-bottom: 32px;
    }
  }
  .toolbar-background {
    background: #fff;
    border-color: transparent;
  }

  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    margin-top: 2.8rem;
  }

  .slide-image {
    max-height: 50%;
    max-width: 60%;
    margin: 18px 0;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 0px;
    font-size: 16px;
    line-height: 1.0;
    color: #2e8709;

    b {
      color: #000000;
    }
  }
}
