<ion-header>
  <ion-navbar>
    <ion-title>
      Bewertungen
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let event of eventList | reverse" text-wrap>
      <ion-card>
        <ion-card-header>
          <strong>{{event?.name}}</strong>
          <p>Klasse: <strong>{{classNo}}</strong></p>
          <p>Datum: <strong>{{event?.date |  date: 'dd.MM.yyyy'}}</strong></p>
          <p>Bewertung bis: <strong>{{event?.dateTo |  date: 'dd.MM.yyyy'}}</strong></p>
          <div *ngIf="isRated(event)===true">Status: bewertet
            <ion-icon name="md-checkbox-outline"></ion-icon>
          </div>
          <div *ngIf="isRated(event)!==true">Status: noch nicht bewertet</div>
        </ion-card-header>
        <ion-card-content>
          <button *ngIf="isRated(event)===true" ion-button color="secondary" icon-left (click)="goToRate(event)"
          >
            Meine Bewertung
          </button>
          <button *ngIf="isRated(event)!==true" ion-button [disabled]="!isRateable(event)" icon-left color="secondary"
                  (click)="goToRate(event)"
          >
            Bewerten
          </button>
          <button ion-button color="primary" icon-right (click)="goToResult(event)"
                  [disabled]="!isResultable(event)">
            Ergebnisse
          </button>
        </ion-card-content>
      </ion-card>
    </ion-item>

  </ion-list>

</ion-content>
